body
{
    background: #f7dda1;
}

h1{
    font-family: 'Merienda', cursive;
    text-align: center;
    margin-top: 2em;
    font-size: 4em;
}

h5{
    font-family: 'Merienda', cursive;
    text-align: center;
    margin-top: 2em;
}

#admin
{
float: right;
}

a {
    color:black;
}

a:hover
{
    color: #2bad66;
    text-decoration: none;
}

#noticia
{
transition: 0.6s;
transition-duration: 0.6s;
}

#noticia:hover
{
transform: scale(1.1);
box-shadow: 2px 2px 2px #000;
}

#titulo:hover
{
    transition: 0.6s;
    transform: scale(1.1);
    color: #469455;
}